<h1>HACKERNEWS POSTS ANALYSIS</h1>

In [26]:
from csv import reader
import datetime as dt

In [11]:
opened_file = open("hacker_news.csv")
read_file = reader(opened_file)
hn = list(read_file)
head = hn[0]
hn = hn[1:]

In [12]:
hn[:5]

[['12224879',
  'Interactive Dynamic Video',
  'http://www.interactivedynamicvideo.com/',
  '386',
  '52',
  'ne0phyte',
  '8/4/2016 11:52'],
 ['10975351',
  'How to Use Open Source and Shut the Fuck Up at the Same Time',
  'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/',
  '39',
  '10',
  'josep2',
  '1/26/2016 19:30'],
 ['11964716',
  "Florida DJs May Face Felony for April Fools' Water Joke",
  'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/',
  '2',
  '1',
  'vezycash',
  '6/23/2016 22:20'],
 ['11919867',
  'Technology ventures: From Idea to Enterprise',
  'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429',
  '3',
  '1',
  'hswarna',
  '6/17/2016 0:01'],
 ['10301696',
  'Note by Note: The Making of Steinway L1037 (2007)',
  'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0',
  '8',
  '2',
  'walterbell',
  '9/30/2015 4:12']]

In [13]:
head

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']

In [14]:
ask_posts = []
show_posts = []
other_posts = []

In [15]:
for row in hn:
    title = row[1]
    lower_title = title.lower()
    if lower_title.startswith('ask hn'):
        ask_posts.append(row)
    elif lower_title.startswith('show hn'):
        show_posts.append(row)
    else:
        other_posts.append(row)

In [17]:
print(len(ask_posts))
print(len(show_posts))
print(len(other_posts))

1744
1162
17194

In [18]:
total_ask_comments = 0

In [19]:
for row in ask_posts:
    num_comments = int(row[4])
    total_ask_comments += num_comments

In [22]:
avg_ask_comments = total_ask_comments//len(ask_posts)

In [23]:
print(avg_ask_comments)

14

In [24]:
total_show_comments = 0
for row in show_posts:
    num_comments = int(row[4])
    total_show_comments += num_comments
avg_show_comments = total_show_comments//len(show_posts)

In [25]:
print(avg_show_comments)

10

From the above analysis it can be very clearly deduced that the posts starting with 'Ask HN' in their title get more comments than the ones that start with 'Show HN'

In [27]:
result_list = []

In [29]:
for row in ask_posts:
    created_at = row[6]
    num_comments = int(row[4])
    result_list.append([created_at,num_comments])

In [31]:
counts_by_hour = {}
comments_by_hour = {}
date_format = "%m/%d/%Y %H:%M"

In [32]:
for row in result_list:
    date = row[0]
    comment = row[1]
    hour = dt.datetime.strptime(date, date_format).strftime("%H")
    if hour not in counts_by_hour:
        counts_by_hour[hour] = 1
        comments_by_hour[hour] = comment
    else:
        counts_by_hour[hour] += 1
        comments_by_hour[hour] += comment

In [41]:
avg_by_hour = []
swap_avg_by_hour = []
for hour in counts_by_hour:
    avg_by_hour.append([hour,comments_by_hour[hour]/counts_by_hour[hour]])
    swap_avg_by_hour.append([comments_by_hour[hour]/counts_by_hour[hour],hour])

In [42]:
print(avg_by_hour)

[['01', 11.383333333333333], ['07', 7.852941176470588], ['19', 10.8], ['18', 13.20183486238532], ['21', 16.009174311926607], ['15', 38.5948275862069], ['10', 13.440677966101696], ['00', 8.127272727272727], ['14', 13.233644859813085], ['09', 5.5777777777777775], ['06', 9.022727272727273], ['16', 16.796296296296298], ['11', 11.051724137931034], ['13', 14.741176470588234], ['04', 7.170212765957447], ['03', 7.796296296296297], ['17', 11.46], ['12', 9.41095890410959], ['05', 10.08695652173913], ['20', 21.525], ['02', 23.810344827586206], ['22', 6.746478873239437], ['23', 7.985294117647059], ['08', 10.25]]

In [43]:
swap_avg_by_hour

[[11.383333333333333, '01'],
 [7.852941176470588, '07'],
 [10.8, '19'],
 [13.20183486238532, '18'],
 [16.009174311926607, '21'],
 [38.5948275862069, '15'],
 [13.440677966101696, '10'],
 [8.127272727272727, '00'],
 [13.233644859813085, '14'],
 [5.5777777777777775, '09'],
 [9.022727272727273, '06'],
 [16.796296296296298, '16'],
 [11.051724137931034, '11'],
 [14.741176470588234, '13'],
 [7.170212765957447, '04'],
 [7.796296296296297, '03'],
 [11.46, '17'],
 [9.41095890410959, '12'],
 [10.08695652173913, '05'],
 [21.525, '20'],
 [23.810344827586206, '02'],
 [6.746478873239437, '22'],
 [7.985294117647059, '23'],
 [10.25, '08']]

In [44]:
sorted_swap = sorted(swap_avg_by_hour, reverse=True)

sorted_swap

[[38.5948275862069, '15'],
 [23.810344827586206, '02'],
 [21.525, '20'],
 [16.796296296296298, '16'],
 [16.009174311926607, '21'],
 [14.741176470588234, '13'],
 [13.440677966101696, '10'],
 [13.233644859813085, '14'],
 [13.20183486238532, '18'],
 [11.46, '17'],
 [11.383333333333333, '01'],
 [11.051724137931034, '11'],
 [10.8, '19'],
 [10.25, '08'],
 [10.08695652173913, '05'],
 [9.41095890410959, '12'],
 [9.022727272727273, '06'],
 [8.127272727272727, '00'],
 [7.985294117647059, '23'],
 [7.852941176470588, '07'],
 [7.796296296296297, '03'],
 [7.170212765957447, '04'],
 [6.746478873239437, '22'],
 [5.5777777777777775, '09']]

In [45]:
print("Top 5 Hours for 'Ask HN' Comments")
for avg, hr in sorted_swap[:5]:
    print(
        "{}: {:.2f} average comments per post".format(
            dt.datetime.strptime(hr, "%H").strftime("%H:%M"),avg
        )
    )

Top 5 Hours for 'Ask HN' Comments
15:00: 38.59 average comments per post
02:00: 23.81 average comments per post
20:00: 21.52 average comments per post
16:00: 16.80 average comments per post
21:00: 16.01 average comments per post